body{
	margin: 0;
	padding: 0;
	font-family: 'Lobster Two', cursive;
}
*{
	box-sizing: border-box;
}
/*=========   CONTROLLS MENU  ==============*/
#myCanvas{
	position: relative;
}
#controlls{
	width: 800px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/backgrounds/menuBackground.png);
}
.defaultButton{
	background-image: url(../img/menu/defaultButton/btn1.png);
	width: 300px;
	height: 82px;
	margin-left: 250px;
	margin-top: 50px;
	position: relative;
}
.defaultButton:hover{
	background-image: url(../img/menu/defaultButton/btn1h.png);
	cursor: pointer;
}
.buttonText{
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	text-align: center;
	font-size: 34px;
}
.nextBTN{
	background-image: url(../img/menu/nextBTN/nextBTN.png);
	width: 150px;
	height: 41px;
	margin-top: 519px;
	margin-left: 619px;
	position: relative;
	cursor: pointer;
}
.nextBTN:hover{
	background-image: url(../img/menu/nextBTN/nextBTNh.png);
}
/*============ NOWA GRA =================*/
#newGame{
	width: 800px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/backgrounds/menunewGame.png);
	display: none;
	color: #fff;
	padding: 20px;
}
#playerCard{
	width: 800px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/backgrounds/playerCard.jpg);
	display: none;
	color: #fff;
	padding: 20px;
}
input[type=text]{
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}